<h3>Chart</h3>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#burndown" data-toggle="tab">Burndown</a>
  </li>
  <li>
    <a href="#burnup" data-toggle="tab">Burnup</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="burndown">
    <div style="width:  940px; height: 400px; background-color: green;"></div>
  </div>
  <div class="tab-pane" id="burnup">
    <div style="width:  940px; height: 400px; background-color: blue;"></div>
  </div>
</div>
<a href="#pageCarousel" data-slide="prev" class="btn">&laquo; Change Settings</a>