<h3>Dates</h3>
<fieldset class="well">
  <div class="control-group">
    <label>From:</label>
    <input type="date" class="datepicker">
    <span class="help-inline hide">Invalid Date</span>
  </div>
  <div class="control-group">
    <label>To:</label>
    <input type="date" class="datepicker">
    <span class="help-inline hide">Invalid Date</span>
  </div>
</fieldset>
<a href="#pageCarousel" data-slide="prev" class="btn">&laquo; Change Tickets</a>
<a href="#pageCarousel" data-slide="next" class="btn btn-primary pull-right">View Chart &raquo;</a>