<p>To log in, simply provide your Redmine API key in the field below:</p>
<div class="row">
  <fieldset id="fldstLogIn" class="span12 control-group">
    <input id="apiKey" class="span11" type="text" placeholder="Your Redmine API Key">
    <button id="login" data-loading-text="<i class='icon-refresh icon-white'></i>" class="btn btn-primary span1">
      Go &raquo;
    </button>
    <div class="help-inline hide">Sorry, it doesn't look like that's a valid API key.</div>
    <div class="help-inline hide">API keys are 40 character long alphanumeric sequences. For example: <var>341a3376cac19972cd51d3e47c91e9aefb73c167</var></div>
  </fieldset>
</div>
<h3>Finding your API key:</h3>
<div class="row">
  <span class="span4 well">Log in to redmine with your usual credentials.</span>
  <span class="span4 well">Go to: <a href="http://redmine.acturis.com/my/account">redmine.acturis.com/my/account</a></span>
  <span class="span4 well">In the right hand column, under API Key, click show.</span>
</div>