<h3>Queries</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="queryNameColumn">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>England - A
        <a href="#pageCarousel" data-slide="next" class="btn btn-mini pull-right">Tickets &raquo;</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Showing results 1-4 of 4</td>
    </tr>
  </tfoot>
</table>
<a href="#pageCarousel" data-slide="next" class="btn pull-right">Select Tickets Manually &raquo;</a>