<h3>Tickets</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Assignee</th>
      <th>Estimated Time</th>
      <th>Work Done</th>
      <th>Time Remaining</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#75634</td>
      <td>[Refactor] Remove warnings from AWE code</td>
      <td>Richard Towers</td>
      <td>12.0</td>
      <td>9.0</td>
      <td>3.0</td>
      <td>
        <a class="btn btn-danger btn-mini" href="#"><i class="icon-ban-circle icon-white"></i></a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">Showing tickets 1-4 of 4</td>
    </tr>
  </tfoot>
</table>
<fieldset class="well form-inline">
  <div class="control-group">
    <label>Add ticket:</label>
    <input type="number" placeholder="Ticket Number">
    <a class="btn btn-small" href="#"><i class="icon-plus"></i></a>
    <span class="help-inline hide">Ticket not found.</span>
  </div>
</fieldset>
<a href="#pageCarousel" data-slide="prev" class="btn">&laquo; Change Query</a>
<a href="#pageCarousel" data-slide="next" class="btn pull-right">Set Date Range &raquo;</a>